@charset "UTF-8";

@font-face {
  font-family:"Alte DIN 1451 Mittelschrift";
  src:url("../fonts/din1451alt.eot?") format("eot"),url("../fonts/din1451alt.woff") format("woff"),url("../fonts/din1451alt.ttf") format("truetype"),url("../fonts/din1451alt.svg#AlteDIN1451Mittelschrift") format("svg");
  font-weight:normal;
  font-style:normal;
}