@charset "utf-8";

// color
$colorBase: #000;
$colorSub: #999;
$colorLink: #555555;
$colorLinkHover: lighten($colorLink, 20%);

// path
$imgPath: "assets/img/";

// column width
$maxWidth: 1000px;

// fontAwesome　使い方／@include fontAwesomeIcon("\f104");
@mixin fontAwesomeIcon($iconNumber){
  content: $iconNumber;
  font-family: 'FontAwesome';
};

// font-family
$basefontFamily : "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック","MS PGothic",Arial,Sans-Serif;

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
$roboto : 'Roboto Condensed',Arial,Sans-Serif;

@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
$archivo : 'Archivo Black', sans-serif;

@font-face {
  font-family:"Alte DIN 1451 Mittelschrift";
  src:url("../fonts/din/fonts/din1451alt.eot?") format("eot"),url("../fonts/din/fonts/din1451alt.woff") format("woff"),url("../fonts/din/fonts/din1451alt.ttf") format("truetype"),url("../fonts/din/fonts/din1451alt.svg#AlteDIN1451Mittelschrift") format("svg");
  font-weight:normal;
  font-style:normal;
}
$din : 'Alte DIN 1451 Mittelschrift', sans-serif;

//　明朝体
$ff_mincho: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
