@charset "utf-8";

/* ======================================= */
/* footer
/* ======================================= */
.l-footer {
	@extend %baseWidth;
}




/*====================================================================
*====================================================================

メディアクエリ

====================================================================*
====================================================================*/
// 1024pxまでの幅の場合に適応される　例）タブレット横まで　iPadPro縦
@media screen and (max-width: 1024px) {
}

// 768pxまでの幅の場合に適応される　例）タブレット縦〜スマホ横
@media screen and (max-width: 768px) {
}

// 480pxまでの幅の場合に適応される　例）iPhone縦
@media screen and (max-width: 480px) {
}

// 320pxまでの幅の場合に適応される　例）iPhone5以下
@media screen and (max-width: 320px) {
}

/*
フォントサイズ表 (base: 13px)
62% =  8px
70% =  9px
77% = 10px
85% = 11px  162% = 21px  239% = 31px
93% = 12px  170% = 22px  247% = 32px
100% = 13px  177% = 23px  254% = 33px
108% = 14px  185% = 24px  262% = 34px
116% = 15px  193% = 25px  270% = 35px
124% = 16px  200% = 26px  277% = 36px
131% = 17px  208% = 27px  285% = 37px
139% = 18px  216% = 28px  293% = 38px
147% = 19px  224% = 29px  300% = 39px
154% = 20px  231% = 30px  308% = 40px
*/

/*
メディアクエリ・基本設定項目
@media screen and (max-width: 1024px) {  1024pxまでの幅の場合に適応される　例）タブレット横まで　iPadPro縦  }
@media screen and (max-width: 768px) {  768pxまでの幅の場合に適応される　例）タブレット縦〜スマホ横  }
@media screen and (max-width: 480px) {  480pxまでの幅の場合に適応される　例）iPhone縦  }
@media screen and (max-width: 320px) {  320pxまでの幅の場合に適応される　例）iPhone5以下  }

メディアクエリ・内訳
Nexus10横 = max-width: 1280px
iPad、iPad mini、Nexus9横 = max-width: 1024px
Nexus7横 = max-width: 960px
Nexus10縦 = max-width: 800px
iPad、iPad mini、Nexus9縦 = max-width: 768px
Nexus7縦 = max-width: 600px
iPhone6 Plus縦 = max-width: 414px
Nexus6縦 = max-width: 412px
iPhone6縦 = max-width: 375px
Nexus5横 = max-width: 360px
iPhone5以下横 = max-width: 320px
*/
