/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-star-red-name: 'icon_star-red';
$icon-star-red-x: 0px;
$icon-star-red-y: 0px;
$icon-star-red-offset-x: 0px;
$icon-star-red-offset-y: 0px;
$icon-star-red-width: 45px;
$icon-star-red-height: 43px;
$icon-star-red-total-width: 90px;
$icon-star-red-total-height: 86px;
$icon-star-red-image: '/assets/img/sprite.png';
$icon-star-red: (0px, 0px, 0px, 0px, 45px, 43px, 90px, 86px, '/assets/img/sprite.png', 'icon_star-red', );
$icon-star-yellow-name: 'icon_star-yellow';
$icon-star-yellow-x: 45px;
$icon-star-yellow-y: 0px;
$icon-star-yellow-offset-x: -45px;
$icon-star-yellow-offset-y: 0px;
$icon-star-yellow-width: 45px;
$icon-star-yellow-height: 43px;
$icon-star-yellow-total-width: 90px;
$icon-star-yellow-total-height: 86px;
$icon-star-yellow-image: '/assets/img/sprite.png';
$icon-star-yellow: (45px, 0px, -45px, 0px, 45px, 43px, 90px, 86px, '/assets/img/sprite.png', 'icon_star-yellow', );
$icon-star-blue-name: 'icon_star_blue';
$icon-star-blue-x: 0px;
$icon-star-blue-y: 43px;
$icon-star-blue-offset-x: 0px;
$icon-star-blue-offset-y: -43px;
$icon-star-blue-width: 45px;
$icon-star-blue-height: 43px;
$icon-star-blue-total-width: 90px;
$icon-star-blue-total-height: 86px;
$icon-star-blue-image: '/assets/img/sprite.png';
$icon-star-blue: (0px, 43px, 0px, -43px, 45px, 43px, 90px, 86px, '/assets/img/sprite.png', 'icon_star_blue', );
$spritesheet-width: 90px;
$spritesheet-height: 86px;
$spritesheet-image: '/assets/img/sprite.png';
$spritesheet-sprites: ($icon-star-red, $icon-star-yellow, $icon-star-blue, );
$spritesheet: (90px, 86px, '/assets/img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
